{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OneRepublic</title>
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'base.js' %}" type="text/javascript"></script>
    {% block additional_head %}{% endblock %}
</head>
<body>
    <div id="myMain">
        <div class="myBody">
            <div class="myHeader">
                <header>
                    <h1 id="mainHeading">OneRepublic: {% block header %}{% endblock %}</h1>
                </header>
            </div>

            {% block menu %}{% endblock %}

            <div class="myContentLayout">
                {% block detail %}{% endblock %}
            </div>

            <div class="myFooter">
                <div class="myFooter-text">
                    <p>Created by Hendrik de Wilde</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>