{% extends "base.html" %}
{% load static %}
{% block additional_head %} {% endblock %}
{% block header %}Charity{% endblock %}
{% block menu %}
    <div class="myNav">
        <ul class="myMenu">
            <li>
                <a href="{% url 'web_index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'web_charity' %}">Charity</a>
            </li>
            <li>
                <a href="{% url 'news_index' %}">News</a>
            </li>
            <li>
                <a href="{% url 'tour_index' %}">Tour</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block detail %}
    <h2>GOOD LIFE FOUNDATION</h2>

    <p>THE ONEREPUBLIC GOOD LIFE FOUNDATION IS A 501(C)(3) PUBLIC BENEFIT CORPORATION FOUNDED BY THE MEMBERS OF
        ONEREPUBLIC AND DEDICATED TO THE IDEA THAT REGARDLESS OF THE FAMILY, CITY, COUNTRY, OR ECONOMIC ENVIRONMENT
        A PERSON IS BORN INTO, THEY DESERVE THE RIGHT TO LIVE A GOOD LIFE. THE FOUNDATION UTILIZES THE RESOURCES,
        TALENT, AND NETWORKING OF ITS FOUNDERS TO PROVIDE RELIEF FOR A MULTITUDE OF CAUSES, WHETHER ITS HELPING TO
        PROVIDE CLEAN WATER, MEDICINE OR FOOD FOR KIDS IN NEED, OR RELIEF FROM NATURAL DISASTERS. IT HAS PREVIOUSLY
        HELP TO RAISE MUCH NEEDED FUNDS FOR ORGANIZATIONS SUCH AS THE CHILDRENS HOSPITAL COLORADO FOUNDATION,
        THE FOOD BANK OF THE ROCKIES, THE DENVER SANTA CLAUSE SHOP, THE TOWN OF NEWTOWN, CONNECTICUT, SAVE THE CHILDREN,
        AND MILE HIGH UNITED WAY. THE FOUNDATIONS GOAL IS TO DO WHAT THEY CAN, WHILE THEY CAN, TO ENSURE AS
        MANY PEOPLE AS POSSIBLE HAVE A CHANCE AT LIVING A GOOD LIFE.</p>

    <p>WEVE HAD THE OPPORTUNITY AS A BAND THE LAST SEVERAL YEARS TO TRAVEL AROUND THE WORLD AND WITNESS FIRSTHAND
        SOME OF THE WORST AND BEST LIVING SITUATIONS ON EARTH. FROM SHANTY TOWNS IN AFRICA WITHOUT ELECTRICITY OR WATER,
        TO THE WORST NEIGHBORHOODS IN OUR OWN BACKYARDS. IT HAS REINFORCED OUR FUNDAMENTAL BELIEF THAT NO MATTER WHAT
        FAMILY, CITY, COUNTRY, OR ECONOMIC ENVIRONMENT YOU ARE BORN INTO, YOU DESERVE THE RIGHT TO A GOOD LIFE. THE
        ONEREPUBLIC GOOD LIFE FOUNDATION IS A VEHICLE FOR US AS A BAND TO USE OUR RESOURCES AND NETWORKING TO PROVIDE
        RELIEF FOR A MULTITUDE OF CAUSES ON A GLOBAL SCALE.</p>

    <p>"ONE DAY ITS PROVIDING CLEAN WATER, THE NEXT ITS MEDICINE OR FOOD FOR KIDS IN NEED. THE GOAL IS, IN THE END,
        TO DO WHAT WE CAN, WHILE WE CAN, TO ENSURE AS MANY PEOPLE IN THIS WORLD HAVE A CHANCE AT LIVING A GOOD LIFE."
        - RYAN TEDDER</p>

{% endblock %}


