{% extends "base.html" %}
{% load static %}
{% block additional_head %} {% endblock %}
{% block header %}Tour{% endblock %}
{% block menu %}
    <div class="myNav">
        <ul class="myMenu">
            <li>
                <a href="{% url 'web_index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'web_charity' %}">Charity</a>
            </li>
            <li>
                <a href="{% url 'news_index' %}">News</a>
            </li>
            <li>
                <a href="{% url 'tour_index' %}">Tour</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block detail %}
    <h2>Latest Tours:</h2>
    {% for tour in tour_list %}
        <p>{{ tour|safe }}</p>
        <br>
        <br>
    {% endfor %}
    <br>
    <br>
{% endblock %}


